.reviews {
  margin-bottom: 45px;

  &__headline {
    margin-bottom: 30px;
  }
}

.reviews__item {
  margin: 0;
  padding: 0;

  &--off {
    display: none;
  }
}

.reviews__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444;
}

.reviews__author {
  display: inline-block;
  margin-bottom: 30px;

  &--name {
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
  }

  &--link {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    text-decoration: none;
    color: #444;
  }
}

.reviews__buttons {
  &--wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  flex-grow: 1;
  min-height: 52px;
  background: transparent center center no-repeat;
  border: 1px solid #ccc;
  cursor: pointer;

  &--prev {
    margin-right: -1px;
    background-image: url(../../img/icon-left-arrow.svg);
  }

  &--next {
    background-image: url(../../img/icon-right-arrow.svg);
  }

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }
}

//планшетная версия

@media (min-width: @tablet-width) {
  .reviews {
    position: relative;
    margin-bottom: 55px;
    background: url(../../img/review@1x.jpg) no-repeat;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../../img/review@2x.jpg);
      background-size: 350px auto;
    }

    &__headline {
      padding-top: 80px;
      margin-bottom: 45px;
    }

    &__write-us {
      position: absolute;
      top: 80px;
      right: 50px;
      width: 172px;
    }
  }

  .reviews__text {
    margin-bottom: 60px;
    font-size: 17px;
  }

  .reviews__author {
    display: flex;
    flex-direction: column;
    padding-bottom: 55px;
  }

  .reviews__buttons {
    &--wrapper {
      position: absolute;
      right: 50px;
      bottom: 20px;
      width: 180px;
    }
    border: none;
  }
}



//ПК версия

@media (min-width: @desktop-width) {
  .reviews {
    margin-bottom: 70px;

    &__headline {
      padding-top: 70px;
      margin-left: 175px;
    }

    &__write-us {
      top: 70px;
    }
  }

  .reviews__text {
    margin-left: 175px;
    margin-bottom: 40px;
  }

  .reviews__author {
    margin-left: 175px;
    padding-bottom: 95px;
  }
}
